<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        android:required="true"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CredseMerchant"
        tools:targetApi="31">
        <activity
            android:name=".activity.settings.Settings"
            android:exported="false" />
        <activity
            android:name=".activity.ImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".CameraX"
            android:exported="false" />
        <activity
            android:name=".activity.contacts.RelCommDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.contacts.EduOccupDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.contacts.IdentityDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.contacts.ContactsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.contacts.AddressDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.contacts.PersonalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.navigation_drawer.WalletStatementActivity"
            android:exported="false" />
        <activity
            android:name=".activity.navigation_drawer.BusinessAreaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.navigation_drawer.MyCompanyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.navigation_drawer.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.navigation_drawer.SoleProprietorshipActivity"
            android:exported="false" />
        <activity
            android:name=".activity.navigation_drawer.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.main.RegisteredOffenceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.main.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".activity.main.OffenceAddActivity"
            android:exported="false" />
        <activity
            android:name=".activity.main.MyReviewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.main.ContactDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.main.AadhaarVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.main.EnterAadhaarNoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.register.LoginMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.register.DeviceRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.register.VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Home"
            android:exported="false" />
        <activity
            android:name=".activity.SetupPasscodeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChooseLanguageActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.CredseMerchant" />
        <activity
            android:name=".activity.GetStartedActivity"
            android:exported="false" />
        <activity
            android:name=".activity.register.RegisterMobileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>